<body style ="background-color: #8080ff";>
 <div class="navbar"></div>
 <div class="container"></div>
 <h3>Posts liked by Users are:</h3>
 <div class="table-responsive">
  <table class="table">
    <tr>
    <th>First Name</th><td></td>
    <th>Last Name</th><td></td>
    </tr>
    <% @likeships.each do|like| %>
    <tr>
    <td><%= User.find(like.user_id).firstname%></td><td></td>
    <td><%= User.find(like.user_id).lastname%></td>
    <td><%#= Post.find(like.post_id).post_artical%></td>
    <td><%= link_to "Unlike",like, method: :delete %></td>
    <td></td>
    <%end%>
    </tr>
    </table>
	</div>
</body>
