<body style="background-color: #A4C8EC;">
  <h3>Followers list is:</h3>
  <table class="table table-sm">
    <tr>
    <th>Followers Name</th>
     <th>Followee Name</th>
    </tr>
    <% @relationships.each do|relation| %>
    <tr>
    <td><%= User.find(relation.follower_id).firstname%></td>
    <td><%= User.find(relation.followed_id).firstname%></td>
    
    <td><%= link_to 'Unfollow',relation, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <%end%>
    </tr>
  </table>
    <%=link_to 'Back',:back , class: "btn btn-primary btn-xs"%>
</body>
