<h4>Friends List are</h4>
<body style ="background-color: #A4C8EC";>
 <table border ="1",class="table table-hover">
    <tr>
    <th>Friend </th><td></td>
    <th>First Name</th><td></td>
     <th>Last Name</th><td></td>
    </tr>
    <% @friendships.each do|frnd| %>
      <tr>
      <td><%= frnd.friend_id %></td><td></td>
      <td><%= User.find(frnd.friend_id).firstname %></td><td></td>
      <td><%= User.find(frnd.friend_id).lastname %></td>
      <td><%= link_to 'Remove',friendship_path(frnd.friend_id.to_s), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%> 
    </tr>
  </table>
</body>
