<footer>
  <div class="">
    <p class="pull-right">&#169; <%= Time.now.year %> <a href="www.affimintus.com">Affimintus</a>,  All Rights Reserved. |
      <span class="lead"> <i class="fa fa-paw"></i>@AFFIBOOK</span>
    </p>
  </div>
  <div class="clearfix"></div>
</footer>
