<footer>
  <div class="">
    <p class="pull-right" style="width: 445px; height: 30px; padding-top: 0px; margin-bottom: 4px; border-right-width: 5px; margin-left: -13px; margin-top: -155px;">&#169; <%= Time.now.year %>
     <a href="www.affimintus.com">Affimintus</a>,  All Rights Reserved. |
     <span class="lead"> <i class="fa fa-paw"></i>@AFFIBOOK</span>
    </p>
  </div>
  <div class="clearfix"></div>
</footer>
